<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="bankPaymentService" class="task1.service.BankPaymentService"/>
    <bean id="payPalPaymentService" class="task1.service.PayPalPaymentService"/>


    <bean id="paymentProcessor" class="task1.PaymentProcessor">
        <property name="paymentService" ref="bankPaymentService"/>
    </bean>
</beans>